<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.site_customization.pages") %> - <%= @page.title %>
<% end %>
<%= back_link_to admin_site_customization_pages_path %>
<div id="cards">
  <h2 class="inline-block">
    <%= @page.title %> <%= t("admin.site_customization.pages.cards.cards_title") %></h2>

  <div class="float-right">
    <%= link_to t("admin.site_customization.pages.cards.create_card"), 
        new_admin_widget_card_path(page_id: params[:page_id]), class: "button" %>
  </div>

  <% if @cards.present? %>
    <%= render "cards", cards: @cards %>
  <% else %>
    <div class="callout primary clear">
      <%= t("admin.site_customization.pages.cards.no_cards") %>
    </div>
  <% end %>
</div>
