<%
  base_path = ""
  base_path << (Rails.configuration.relative_url_root || "")
  base_path << (Rails.application.config.assets.prefix || "")
  base_path << '/ckeditor/'
%>
var CKEDITOR_BASEPATH = '<%= base_path.gsub("//", "/") %>';
