<footer>
  <div class="sites-info">
    <div>
      <p>
        <%= t("layouts.footer.description",
              open_source: link_to(t("layouts.footer.open_source"), t("layouts.footer.open_source_url"), target: "blank", rel: "nofollow"),
              consul: link_to(t("layouts.footer.consul"), t("layouts.footer.consul_url"), target: "blank", rel: "nofollow")).html_safe
        %>
      </p>

      <p>
        <%= t("layouts.footer.contact_us") %>
        <%= link_to t("layouts.footer.faq"), page_path("faq") %>
      </p>
    </div>

    <dl>
      <% Rails.application.config.sites.reject { |name, _| name == :citizen_participation }.each do |name, url| %>
        <div>
          <dt><%= link_to t("sites.#{name}"), url %></dt>
          <dd><%= t("layouts.footer.info.#{name}") %></dd>
        </div>
      <% end %>
    </dl>
  </div>

  <div class="row gob-logos">
    <div class="small-6 column">
      <%= link_to "https://ec.europa.eu/regional_policy/index_es.cfm" do %>
        <%= image_tag(image_path_for('logo_canarias.png'), class: 'float-left canarias-with-europe', alt: t("layouts.footer.logos.canarias_with_europe")) %>
      <% end %>
    </div>
    <div class="small-6 column">
      <p class="european-development-program">
        <%= sanitize(t("layouts.footer.logos.european_development_program")) %>
      </p>
    </div>
  </div>
  <div class="row">

    <% if (%w[twitter_handle facebook_handle blog_url youtube_handle telegram_handle instagram_handle].any? { |name| setting[name].present? }) || content_block("footer", I18n.locale).present? %>
      <div class="small-12 medium-4 column social">
        <div class="text-right">
          <ul>
            <% if setting['twitter_handle'] %>
              <li class="inline-block">
                <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "_blank",
                            title: t("shared.go_to_page") + t("social.twitter", org: setting['org_name']) + t('shared.target_blank_html') do %>
                  <%= image_tag(image_path_for('twitter.png')) %>
                <% end %>
              </li>
            <% end %>
            <% if setting['facebook_handle'] %>
              <li class="inline-block">
                <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}/", target: "_blank",
                            title: t("shared.go_to_page") + t("social.facebook", org: setting['org_name']) + t('shared.target_blank_html') do %>
                  <%= image_tag(image_path_for('facebook.png')) %>
                <% end %>
              </li>
            <% end %>
            <% if setting['blog_url'] %>
              <li class="inline-block">
                <%= link_to (setting['blog_url'] =~ /^https?:\/\/|^www\./i ? setting['blog_url'] : (root_path + setting['blog_url']).sub("//", "/")),
                            target: "_blank",
                            title: t("shared.go_to_page") + t("social.blog", org: setting['org_name']) + t('shared.target_blank_html') do %>
                  <span class="show-for-sr"><%= t("social.blog", org: setting['org_name']) %></span>
                  <span class="icon-blog" aria-hidden="true"></span>
                <% end %>
              </li>
            <% end %>
            <% if setting['youtube_handle'] %>
              <li class="inline-block">
                <%= link_to "https://www.youtube.com/#{setting['youtube_handle']}", target: "_blank",
                            title: t("shared.go_to_page") + t("social.youtube", org: setting['org_name']) + t('shared.target_blank_html') do %>
                  <%= image_tag(image_path_for('youtube.png')) %>
                <% end %>
              </li>
            <% end %>
            <% if setting['telegram_handle'] %>
              <li class="inline-block">
                <%= link_to "https://www.telegram.me/#{setting['telegram_handle']}", target: "_blank",
                            title: t("shared.go_to_page") + t("social.telegram", org: setting['org_name']) + t('shared.target_blank_html') do %>
                  <span class="show-for-sr"><%= t("social.telegram", org: setting['org_name']) %></span>
                  <span class="icon-telegram" aria-hidden="true"></span>
                <% end %>
              </li>
            <% end %>
            <% if setting['instagram_handle'] %>
              <li class="inline-block">
                <%= link_to "https://www.instagram.com/#{setting['instagram_handle']}", target: "_blank",
                            title: t("shared.go_to_page") + t("social.instagram", org: setting['org_name']) + t('shared.target_blank_html') do %>
                  <%= image_tag(image_path_for('instagram.png')) %>
                <% end %>
              </li>
            <% end %>
            <%= raw content_block("footer", I18n.locale) %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="subfooter-wrapper">
    <div class="row">
      <div class="subfooter column">
        <span><%= t("layouts.footer.copyright", year: Date.current.year) %></span>
        <ul>
          <li><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %></li>
          <li><%= link_to t("layouts.footer.conditions"), page_path("conditions") %></li>
          <li><%= link_to t("layouts.footer.privacy"), page_path("privacy") %></li>
          <li><%= link_to t("layouts.footer.contact"), ENV["CONTACT_URL"] || "https://www.gobiernodecanarias.org/participacionciudadana/contacto/" %></li>
          <li><%= link_to t("layouts.footer.legal_advice"), ENV["LEGAL_URL"] || "http://www.gobiernodecanarias.org/principal/avisolegal.html" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
