<!DOCTYPE html>
<html lang="es">
  <head>
    <%= render "layouts/common_head", default_title: "Gobierno abierto" %>
    <%= render "layouts/meta_tags" %>
  </head>

  <body class="auth-page">
    <div class="wrapper">
      <div class="auth-image small-12 medium-3 column">
        <h1 class="logo margin">
          <%= link_to root_path do %>
            <%= image_tag(image_path_for('gobcan-azul-260x80.png'), class: 'float-left', alt: t("layouts.header.logo")) %>
          <% end %>
        </h1>
      </div>

      <div class="small-12 medium-9 column">
        <div class="row">
          <div class="small-12 medium-9 large-7 small-centered column">
            <div class="auth-form margin">
              <%= render 'layouts/flash' %>

              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
