<li id="<%= dom_id(document)%>">
  <%= link_to t("documents.buttons.download_document"),
              (Rails.configuration.relative_url_root || "") + document.attachment.url, target: "_blank",
              rel: "nofollow", class: "button hollow medium float-right" %>

  <strong><%= document.title %></strong>
  <br>
  <small>
    <%= document.humanized_content_type %>&nbsp;|&nbsp;
    <%= number_to_human_size(document.attachment_file_size, precision: 2) %>
  </small>

  <% if can?(:destroy, document) %>
    <br>
    <%= link_to t("documents.buttons.destroy_document"),
                  document,
                  method: :delete,
                  data: { confirm: t("documents.actions.destroy.confirm") },
                  class: "delete" %>
  <% end %>
</li>
