<% poll_group.each do |poll| %>
  <% 
     @mensajeAlert=MemberType.textoParticipanteTipo2WithPrefix(current_user, poll.member_type_ids, t("polls.index.member_type_denied"))
  %>
  <div class="poll with-image">
    <% if !user_signed_in? %>
      <div class="icon-poll-answer not-logged-in" title="<%= t("polls.index.not_logged_in") %>">
        <span class="show-for-sr"><%= t("polls.index.not_logged_in") %></span>
      </div>
    <% elsif user_signed_in? %>
      <% if current_user.unverified? %>
        <div class="icon-poll-answer unverified" title="<%= t("polls.index.unverified") %>">
          <span class="show-for-sr"><%= t("polls.index.unverified") %></span>
        </div>
      <% elsif cannot?(:answer, poll) %>
        <div class="icon-poll-answer cant-answer" title="<%= t("polls.index.cant_answer") %>">
          <span class="show-for-sr"><%= t("polls.index.cant_answer") %></span>
        </div>
      <% elsif !poll.votable_by?(current_user) %>
        <div class="icon-poll-answer already-answer" title="<%= t("polls.index.already_answer") %>">
          <span class="show-for-sr"><%= t("polls.index.already_answer") %></span>
        </div>
        <% elsif @mensajeAlert %>
        <div class="icon-poll-answer cant-answer" title="<%= @mensajeAlert %>">
          <span class="show-for-sr"><%= @mensajeAlert %></span>
        </div>
      <% end %>
    <% end %>
    <div class="row" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-3 column">
        <div class="image-container" data-equalizer-watch>
          <% if poll.image.present? %>
            <%= image_tag poll.image_url(:large), alt: poll.image.title.unicode_normalize %>
          <% end %>
        </div>
      </div>
      <div class="small-12 medium-6 column" data-equalizer-watch>
        <div class="dates"></div>
        <% if poll.questions.count == 1 %>
          <% poll.questions.each do |question| %>
            <h4>
              <% if poll.results_enabled? %>
                <%= link_to question.title, results_poll_path(poll) %>
              <% elsif poll.stats_enabled? %>
                <%= link_to question.title, stats_poll_path(poll) %>
              <% else %>
                <%= link_to question.title, poll %>
              <% end %>
            </h4>
            <%= poll_dates(poll) %>
          <% end %>
        <% else %>
          <h4>
            <% if poll.results_enabled? %>
              <%= link_to poll.name, results_poll_path(poll) %>
            <% elsif poll.stats_enabled? %>
                <%= link_to poll.name, stats_poll_path(poll) %>
            <% else %>
              <%= link_to poll.name, poll %>
            <% end %>
          </h4>
          <%= poll_dates(poll) %>
          <ul class="margin-top">
            <% poll.questions.each do |question| %>
              <li><%= question.title %></li>
            <% end %>
          </ul>
        <% end %>
        <% @textoMemberType=MemberType.textoParticipanteTipo2DefaultSiNoCualquierCiudadano(poll.member_type_ids) %>
        <% if @textoMemberType %>
          <p>
          <small><%= t('polls.index.member_type') + " " + @textoMemberType %></small>
          </p>
        <%end%>
        <% if poll.geozones.any? %>
          <p>
            <small><%= t("polls.index.geozone_info") %></small>
          </p>
        <% end %>
        <ul class="no-bullet inline-block tags">
          <% poll.geozones.each do |g| %>
            <li class="inline-block"><span><%= g.name %></span></li>
          <% end %>
        </ul>
      </div>
      <div class="small-12 medium-3 column table" data-equalizer-watch>
        <div class="table-cell align-middle">
          <%= link_to poll, class: "button hollow expanded" do %>
            <% if poll.expired? %>
              <%= t("polls.index.participate_button_expired") %>
            <% elsif poll.incoming? %>
              <%= t("polls.index.participate_button_incoming") %>
            <% else %>
              <%= t("polls.index.participate_button") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
