<% provide :title do %><%= t("devise_views.organizations.registrations.new.title") %><% end %>
<h2><%= t("devise_views.organizations.registrations.new.title") %></h2>

 <%= form_for(resource, as: :user, url: organization_registration_path) do |f| %>
   <%= render 'shared/errors', resource: resource %>
   <div class="row">
     <div class="small-12 column">

      <%= f.fields_for :organization do |fo| %>
        <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length, placeholder: t("devise_views.organizations.registrations.new.organization_name_label") %>
        <%= fo.label :responsible_name %>
        <p class="help-text" id="responsible-name-help-text"><%= t("devise_views.organizations.registrations.new.responsible_name_note") %></p>
        <%= fo.text_field :responsible_name, placeholder: t("devise_views.organizations.registrations.new.responsible_name_label"),
                                             maxlength: Organization.responsible_name_max_length, label: false,
                                             aria: {describedby: "responsible-name-help-text"} %>
      <% end %>

      <%= f.email_field :email, placeholder: t("devise_views.organizations.registrations.new.email_label") %>

      <%= f.text_field  :phone_number,  placeholder: t("devise_views.organizations.registrations.new.phone_number_label") %>

      <%= f.invisible_captcha :address %>

      <%= f.password_field :password, autocomplete: "off",
                           placeholder: t("devise_views.organizations.registrations.new.password_label") %>

      <%= f.password_field :password_confirmation, autocomplete: "off",
                           label: t("devise_views.organizations.registrations.new.password_confirmation_label"),
                           placeholder: t("devise_views.organizations.registrations.new.password_confirmation_label") %>

      <%= f.label :terms_of_service do %>
        <%= f.check_box :terms_of_service, title: t('devise_views.users.registrations.new.terms_title'), label: false %>
        <span class="checkbox">
          <%= t("devise_views.users.registrations.new.terms",
              terms: link_to(t("devise_views.users.registrations.new.terms_link"), page_url("conditions"), title: t('shared.target_blank_html'), target: "_blank")).html_safe %></span>
      <% end %>

      <div class="small-12 medium-6 small-centered">
        <%= f.submit t("devise_views.organizations.registrations.new.submit"), class: "button expanded" %>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
