// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
$brand-light: #fa007b;
$brand-lighter: #f8f6fe;
$brand-lightest: #ffb454;
$dark-text: #036;

$color-info: $text;
$info-bg: $brand-lighter;
$info-border: darken($brand-lighter, 3%);
$highlight: $brand-lighter;
