// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css

@mixin has-fa-icon($icon, $style, $position: "before") {

  &::#{$position} {
    background-image: image-url("fontawesome/#{$style}/#{$icon}.svg");
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
  }

  @supports (mask-image: url()) {

    &::#{$position} {
      background: currentcolor;
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      mask-image: image-url("fontawesome/#{$style}/#{$icon}.svg");
    }
  }
}

@mixin welcome-section-icon($icon, $style) {
  @include has-fa-icon($icon, $style);
}

@mixin brand-gradient($angle: 270deg) {
  background: #fb3370 linear-gradient(#{$angle}, $brand-light 0%, $brand-lightest 100%) 0% 0%;
}

%light-button {
  background: $brand-light;
  color: $white;

  &:hover {
    background: $brand-lightest;
    color: $text;
  }
}

body {
  color: $text;
}

body > .wrapper > header {
  background: transparent;
}

.button {
  @extend %light-button;
}

.top-links {
  @include brand-gradient;
}

.header-logos {
  @include flex-grid-row;
  @include grid-column-gutter;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $line-height / 2;
  margin-top: $line-height / 2;

  > * {
    max-width: 32%;
  }
}

.top-bar {
  @include grid-column-gutter;
  @include flex-grid-row;
  background: transparent !important;
  color: $text;
  padding-bottom: $line-height / 4;

  @include breakpoint(medium) {
    justify-content: flex-end;
  }

  ul {
    margin-top: $line-height / 2;
    padding-right: 0;

    &.dropdown.menu > li {
      &.is-dropdown-submenu-parent > a::after {
        border-color: currentcolor transparent transparent;
      }
    }
  }

  .menu li {
    a {
      color: inherit;
    }

    &:last-child a {
      padding-right: 0;
    }
  }

  .has-submenu.is-active a {
    color: inherit;
  }
}

.menu-icon {

  &.dark {

    &:hover::after,
    &::after {
      background: currentcolor;
      box-shadow: 0 7px 0 currentcolor, 0 14px 0 currentcolor;
    }
  }
}

.subnavigation {
  @include breakpoint(small only) {
    > * {
      padding-left: 0;
    }
  }

  a {
    color: inherit;

    @include breakpoint(medium) {
      color: inherit;
    }

    &.is-active {
      border-bottom-color: currentcolor;
      color: $brand-light;

      @include breakpoint(small only) {
        color: inherit;
      }
    }
  }
}

.footer {
  min-height: auto !important;
  margin-bottom: 0;
}

.subfooter-wrapper {
  background-color: #3f3761;
}

.subfooter {
  color: $white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;

  border-top: none;

  > :first-child {
    margin-right: 1ch;
  }

  ul {
    margin-bottom: 0;
    margin-left: 0;

    @include breakpoint(large) {
      flex: 1;

      > :last-child {
        float: right;

        &::before {
          content: none;
        }

        a {
          padding-right: 0;
        }
      }
    }
  }

  li {
    align-items: center;
    display: inline-flex;

    &::before {
      border-left: 1px solid;
      content: "";
      height: 1em;
      opacity: 0.8;
    }

    a {
      color: inherit;
      padding: 0 1ch;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}

.welcome-sections {
  @include flex-grid-row;
  justify-content: center;
}

.welcome-section {
  $gap: rem-calc(map-get($grid-margin-gutters, medium));

  @include xy-gutters;
  background-color: $brand-lighter;
  text-align: center;
  margin-top: $line-height;

  @include breakpoint(medium) {
    width: calc(50% - #{$gap} - 1px);
  }

  @include breakpoint(large) {
    width: calc(25% - #{$gap} - 1px);
  }

  > p {
    margin-bottom: $line-height / 2;
    margin-top: $line-height / 2;
    padding-left: $line-height / 4;
    padding-right: $line-height / 4;
  }

  .welcome-section-header {
    font-family: "Lato", serif !important;
    font-weight: bold;
  }

  $sections: (
    debates: comments,
    proposals: lightbulb,
    decide: thumbs-up,
    do: building
  );

  @each $section, $icon in $sections {
    &.welcome-section-#{$section} {
      @include has-fa-icon($icon, regular);

      &::before {
        display: block;
        font-size: 5rem;
        margin-bottom: $line-height / 2;
        margin-top: 2 * $line-height;
        margin-left: 50%;
        transform: translateX(-50%);
      }

      @supports (mask-image: url()) {

        &::before {
          @include brand-gradient(180deg);
        }
      }
    }
  }
}

.header-section {
  font-size: calc(1rem + 0.6vw);
  margin-top: -$line-height;
  text-align: center;

  @include breakpoint(medium down) {
    .header-title,
    .header-description {
      text-align: left;
    }
  }

  .header-title {
    @include grid-column-gutter;
    @include brand-gradient;
    color: $white;
    text-transform: uppercase;

    @include breakpoint(medium) {
      $padding: calc(100% - min(100%, #{$global-width}) + #{rem-calc(map-get($grid-column-gutter, medium))});
      padding-left: calc(#{$padding} / 2);
      padding-right: calc(#{$padding} / 2);
    }
  }

  .header-description {
    @include grid-row;
    @include grid-column-gutter;

    font-size: inherit;
    line-height: 1.5;
    margin-top: $line-height / 2;
  }

  .header-button {
    @extend %light-button;
    font-size: 0.8em;
    font-weight: bold;
  }
}

.subnavigation-large-menu {
  margin-top: 20px;
}

.social {
  margin-top: 30px;
}

.submenu {

  a {
    color: $text;
  }

  .is-active {
    border-bottom-color: currentcolor;
    color: $brand-light;
  }
}

.debate .votes .voted .icon-like,
.debate-show .votes .voted .icon-like,
.proposal-show .votes .voted .icon-like,
.legislation-proposals .votes .voted .icon-like {
  background: $white;
  border: 2px solid $white;
  color: $like;
}

.debate .votes .voted .icon-unlike,
.debate-show .votes .voted .icon-unlike,
.proposal-show .votes .voted .icon-unlike,
.legislation-proposals .votes .voted .icon-unlike {
  background: $white;
  border: 2px solid $white;
  color: $unlike;
}

.icon-like::before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal !important;
  font-variant: normal !important;
  text-rendering: auto;
  line-height: 1;
  content: "\6b";
}

.icon-unlike::before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal !important;
  font-variant: normal !important;
  text-rendering: auto;
  line-height: 1;
  content: "\6a";
}

.tag {
  color: $brand;
}

.debate .panel h3 a,
.proposal .panel h3 a,
.investment-project .panel h3 a,
.budget-investment .panel h3 a,
.legislation .panel h3 a,
.communities-show .panel h3 a {
  color: $brand;
}

.tags a,
.tag-cloud a,
.categories a,
.geozone a,
.sidebar-links a,
.tags span {
  color: $brand;
}

.proposal .supports .progress .meter {
  background: $brand-light;
}

.proposal .supports .button-support {
  @extend %light-button;
}

.proposal .supports .progress {
  background: $brand-lighter;
}

.row .featured-proposals {
  background: $brand-lighter;

  > div:first-child {
    @include brand-gradient;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;

    > h2 {
      margin-bottom: 0;
      padding: 3px 0;
      color: white;
    }
  }
}

.featured-debates,
.featured-proposals,
.enquiries-list {
  padding: 0;
}

.featured-proposals .supports .button-support {
  @extend %light-button;
}

.legislation-calendar {
  background: $brand-lighter;

  h4,
  p {
    color: #707070;
  }
}

.key-dates {

  li {

    a {
      color: inherit;
    }

    &:not(.is-active):hover {
      background: $brand-lightest;
    }
  }

  .is-active a h4 {
    color: $brand-light;
  }
}

.help-header img {
  display: none;
}

.more-info-content h3 {
  color: $text;
}

.menu.simple li.is-active {
  border-bottom-color: currentcolor;
  color: $brand-light;
}

footer .logo a {
  font-weight: bold;
}

.european-development-program {
  display: flex;
  line-height: $global-lineheight;
  justify-content: flex-end;
}

.canarias-with-europe {
  max-height: 60px;
}

.gob-logos {
  border-top: 1px solid $text-light;
  margin-bottom: $line-height / 2;
  margin-top: $line-height;
  padding-top: $line-height;
}

.sites-info {
  @include grid-row;

  > :first-child,
  dl > *
   {
    @include grid-column;

    @include breakpoint(large) {
      width: 25%;
    }
  }

  dt a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  dd {
    font-size: $small-font-size;
    margin-bottom: $paragraph-margin-bottom;
  }
}

.tabs {

  .tabs-title > a {
    &[aria-selected='true'],
    &.is-active {
      color: $brand-light;

      &::after {
        border-bottom-color: currentcolor;
      }
    }
  }
}

.admin-sidebar {
  background: transparent;
  color: $text;

  ul {
    [class^="icon-"] {
      color: inherit;
    }
  }

  li {
    &.is-active a {
      background: transparent;
      color: $brand-light;

      [class^="icon-"] {
        color: $brand-light;
      }
    }
  }

  li a {
    color: inherit;

    &:hover {
      background: transparent;
      color: $brand-light;

      [class^="icon-"] {
        color: inherit;
      }
    }
  }
}

.auth-divider {
  border: 0;
  cursor: pointer;
  height: auto;
}
