@charset "UTF-8";

@font-face {
  font-family: 'icons';
  src: font-url('icons.eot');
  src: font-url('icons.eot?#iefix') format('embedded-opentype'),
    font-url('icons.woff') format('woff'),
    font-url('icons.ttf') format('truetype'),
    font-url('icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down::before {
  content: '\61';
}

.icon-angle-left::before {
  content: '\62';
}

.icon-angle-right::before {
  content: '\63';
}

.icon-angle-up::before {
  content: '\64';
}

.icon-comments::before {
  content: '\65';
}

.icon-twitter::before {
  content: '\66';
}

.icon-calendar::before {
  content: '\67';
}

.icon-debates::before {
  content: '\69';
}

.icon-unlike::before {
  content: '\6a';
}

.icon-like::before {
  content: '\6b';
}

.icon-check::before {
  content: '\6c';
}

.icon-edit::before {
  content: '\6d';
}

.icon-user::before {
  content: '\6f';
}

.icon-settings::before {
  content: '\71';
}

.icon-stats::before {
  content: '\72';
}

.icon-proposals::before {
  content: '\68';
}

.icon-organizations::before {
  content: '\73';
}

.icon-deleted::before {
  content: '\74';
}

.icon-tag::before {
  content: '\75';
}

.icon-eye::before {
  content: '\70';
}

.icon-x::before {
  content: '\76';
}

.icon-flag::before {
  content: '\77';
}

.icon-comment::before {
  content: '\79';
}

.icon-reply::before {
  content: '\7a';
}

.icon-facebook::before {
  content: '\41';
}

.icon-google-plus::before {
  content: '\42';
}

.icon-search::before {
  content: '\45';
}

.icon-external::before {
  content: '\46';
}

.icon-video::before {
  content: '\44';
}

.icon-document::before {
  content: '\47';
}

.icon-print::before {
  content: '\48';
}

.icon-blog::before {
  content: '\4a';
}

.icon-box::before {
  content: '\49';
}

.icon-youtube::before {
  content: '\4b';
}

.icon-letter::before {
  content: '\4c';
}

.icon-circle::before {
  content: '\43';
}

.icon-circle-o::before {
  content: '\4d';
}

.icon-help::before {
  content: '\4e';
}

.icon-budget::before {
  content: '\53';
}

.icon-notification::before {
  content: '\6e';
}

.icon-no-notification::before {
  content: '\78';
}

.icon-whatsapp::before {
  content: '\50';
}

.icon-zip::before {
  content: '\4f';
}

.icon-banner::before {
  content: '\51';
}

.icon-arrow-down::before {
  content: '\52';
}

.icon-arrow-left::before {
  content: '\54';
}

.icon-arrow-right::before {
  content: '\55';
}

.icon-check-circle::before {
  content: '\56';
}

.icon-arrow-top::before {
  content: '\57';
}

.icon-checkmark-circle::before {
  content: '\59';
}

.icon-minus-square::before {
  content: '\58';
}

.icon-plus-square::before {
  content: '\5a';
}

.icon-expand::before {
  content: '\30';
}

.icon-telegram::before {
  content: '\31';
}

.icon-instagram::before {
  content: '\32';
}

.icon-image::before {
  content: '\33';
}

.icon-search-plus::before {
  content: '\34';
}

.icon-search-minus::before {
  content: '\35';
}

.icon-calculator::before {
  content: '\36';
}

.icon-map-marker::before {
  content: '\37';
}

.icon-user-plus::before {
  content: '\38';
}

.icon-file-text-o::before {
  content: '\39';
}

.icon-file-text::before {
  content: '\21';
}

.icon-bars::before {
  content: '\22';
}
