<% reason = investment.reason_for_not_being_selectable_by(current_user) %>
<% voting_allowed = true unless reason.presence == :not_voting_allowed %>
<% user_voted_for = voted_for?(investment_votes, investment) %>

<div class="supports js-participation">

  <span class="total-supports <%= 'no-button' unless voting_allowed || user_voted_for %>">
    <%= t("budgets.investments.investment.supports", count: investment.total_votes) %>
  </span>

  <div class="in-favor js-in-favor">

    <% if user_voted_for %>

    <% if not @mensajeAlert.nil? %>
      <div class="callout warning">
        <%= @mensajeAlert %>
      </div>
      <% else %>


      <div class="supported callout success">
        <%= t("budgets.investments.investment.already_supported") %>
      </div>
      <% end %>


    <% elsif investment.should_show_votes? %>

    <% if not @mensajeAlert.nil? %>
      <div class="callout warning">
        <%= @mensajeAlert %>
      </div>
      <% else %>

      <%= link_to vote_url,
          class: "button button-support small expanded",
          title: t('budgets.investments.investment.support_title'),
          method: "post",
          remote: (current_user && current_user.voted_in_group?(investment.group) ? true : false),
          data:   (current_user && current_user.voted_in_group?(investment.group) ? nil : { confirm: t('budgets.investments.investment.confirm_group', count: investment.group.max_votable_headings)} ),
          "aria-hidden" => css_for_aria_hidden(reason) do %>
        <%= t("budgets.investments.investment.give_support") %>
        <% end %>
        <% end %>


    <% end %>
  </div>

  <% if reason.present? && !user_voted_for %>
    <div class="js-participation-not-allowed participation-not-allowed" style='display:none' aria-hidden="false">
      <p>
        <small>
          <%= t("votes.budget_investments.#{reason}",
                count: investment.group.max_votable_headings,
                verify_account: link_to(t("votes.verify_account"), verification_path),
                signin: link_to(t("votes.signin"), new_user_session_path),
                signup: link_to(t("votes.signup"), new_user_registration_path)
           ).html_safe %>
        </small>
      </p>
    </div>
  <% end %>

  <% if user_voted_for && setting['twitter_handle'] %>
    <div class="share-supported">
      <%= render partial: 'shared/social_share', locals: {
        title: investment.title,
        image_url: image_absolute_url(investment.image, :thumb),
        url: budget_investment_url(investment.budget, investment),
        description: investment.title
      } %>
    </div>
  <% end %>
</div>
